.figma_button {
  border-radius: 5px;
  background: white;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
}

.figma_button--theme-primary {
  color: black;
  box-shadow: inset 0 0 0 1px black;
}
.figma_button--theme-secondary {
  color: blue;
  box-shadow: inset 0 0 0 1px blue;
}

button:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}
