.figma_button {
  border-radius: 0.6rem;
  border: none;
  height: 3rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  font-size: 1.1rem;
  font-family: var(--figma-font-primary);
  outline: none;
}
.figma_button[disabled] {
  cursor: not-allowed;
}

/* Primary */
.figma_button--variant-primary {
  background-color: var(--figma-accentColor-blue);
  box-shadow: inset 0 0 0 1px var(--figma-accentColor-blue);
  color: white;
}
.figma_button--variant-primary:focus {
  box-shadow: inset 0 0 0 2px var(--figma-color-black3);
}
.figma_button--variant-primary[disabled] {
  background-color: var(--figma-color-black3);
  box-shadow: none;
}

/* Primary Destructive*/
.figma_button--variant-primaryDestructive {
  background-color: var(--figma-accentColor-red);
  box-shadow: inset 0 0 0 1px var(--figma-accentColor-red);
  color: white;
}
.figma_button--variant-primaryDestructive:focus {
  box-shadow: inset 0 0 0 2px var(--figma-color-black3);
}
.figma_button--variant-primaryDestructive[disabled] {
  background-color: var(--figma-color-red4);
  box-shadow: none;
}

/* Standard */
.figma_button--variant-standard {
  color: var(--figma-color-black8);
  box-shadow: inset 0 0 0 1px var(--figma-color-black8);
}
.figma_button--variant-standard:focus {
  box-shadow: inset 0 0 0 2px var(--figma-accentColor-blue);
}
.figma_button--variant-standard[disabled] {
  color: var(--figma-color-black3);
  box-shadow: inset 0 0 0 1px var(--figma-color-black3);
}

/* Standard Destructive */
.figma_button--variant-standardDestructive {
  color: var(--figma-accentColor-red);
  box-shadow: inset 0 0 0 1px var(--figma-accentColor-red);
}
.figma_button--variant-standardDestructive:focus {
  box-shadow: inset 0 0 0 2px var(--figma-accentColor-red);
}
.figma_button--variant-standardDestructive[disabled] {
  color: var(--figma-color-red3);
  box-shadow: inset 0 0 0 1px var(--figma-color-red3);
}
